.sound-button{
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 250px;
    width: 250px;
    background-position: center;
    background-size: cover;
    img{
        height: 70px;
    }
}