.sound-button {
	position: relative;
	z-index: 10;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	height: 150px;
	width: 150px;
	background-color: $bg-button;
	background-position: center;
	background-size: cover;
	box-shadow: $box-shadow;
	transition: transform 1s;
	img {
		position: relative;
		z-index: -10;
		height: 40px;
	}
	&:hover {
		transform: scale(103%);
	}
	&.active {
		@include focus-outline();
		transform: scale(103%);
	}
	&:focus {
		@include focus-outline();
	}
}
