html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	font-family: $main-fonts;
}
html,
body {
	height: 100%;
	margin: 0;
	background-color: $bg-body;
}
h1{
	margin: 0;
}
